<section class="bg--dark bg--dark space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img alt="image" src="assets/architecture-1.jpg">
            </div>
            <div class="col-sm-6">
                <div class="row switchable__text">
                    <h2>{{ title }}</h2>
                    <p>
                        {{ content }}
                    </p>
                    <hr class="short">
                    <p class="lead">
                        <span>Project coordinator:<br/></span>
                        <strong>Richard Stevens</strong>
                        <br /> <br /> E:
                        <a href="mailto:info@e-sides.eu">info@e-sides.eu</a>
                        <br /> P: +39 02284571
                        <br /><br /> <a href="https://twitter.com/eSIDES_eu" class="" target="_blank" style="text-decoration: none"><i class="icon icon--xs socicon-twitter" title="Twitter"></i> @eSIDES_eu</a>
                        <br /> <a href="https://www.linkedin.com/groups/8603332" class="" target="_blank" style="text-decoration: none"><i class="icon icon--xs socicon-linkedin" title="LinkedIn"></i> eSIDES_eu</a>
                        <br /> <a href="https://www.youtube.com/channel/UCkeMiW0OWC48Fh6tnq7n35A" class="" target="_blank" style="text-decoration: none"><i class="icon icon--xs socicon-youtube" title="Youtube"></i> e-SIDES</a>
                        <br /> <a href="https://www.slideshare.net/eSIDES" class="" target="_blank" style="text-decoration: none"><i class="icon icon--xs socicon-slideshare" title="Youtube"></i> e-SIDES.eu</a>
                    </p>
                    
                    
                    <!--end of row-->
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>