<section class="bg--dark bg--dark space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img alt="image" src="assets/architecture-1.jpg">
            </div>
            <div class="col-sm-6">
                <div class="row switchable__text">
                    <h2>{{ title }}</h2>
                    <p>
                        {{ content }}
                    </p>
                    <hr class="short">
                    <p class="lead">
                        <strong>Richard Stevens</strong>
                        <br /> <br /> E:
                        <a href="mailto:info@e-sides.eu">info@e-sides.eu</a>
                        <br /> P: +39 02284571
                        <br /> <a href="https://twitter.com/eSides" class="" target="_blank" style="text-decoration: none"><i class="icon icon--xs socicon-twitter" icon-class=" socicon-twitter" title="socicon-twitter"></i> @eSIDES</a>
                    </p>
                    
                    
                    <!--end of row-->
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>