{{ user:isnt role="view" }}
    {{ redirect to="/login?redirect=/collaborative-platform" }}
{{ /user:isnt }}
<section class="unpad bg--dark">
	<article>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="article__title">
						<h1>{{ title }}</h1>
						<span> {{ sub-title }}</span>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="article__body">
						<iframe height="1200" src="https://docs.google.com/document/d/1gc0jcxvESQ_W4gIaLwXk-8U5xTqc3QoSesx7FiSetrg/edit?usp=sharing&embedded=true"></iframe>
					</div>
				</div>	
			</div>
		</div>
	</article>
</section>
