<section class="unpad bg--dark">
	<article>
		<div class="imagebg text-center height-60" data-overlay="5">
			<div class="background-image-holder">
			{{ assets:hero_image }}
				<img alt="background" src="{{ url }}" />
			{{ /assets:hero_image }}
			</div>
			<div class="container pos-vertical-center">
				<div class="row">
					<div class="col-sm-12">
						<div class="article__title">
							<h1>{{ title }}</h1>
							<span> {{ sub-title }}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="pos-absolute pos-bottom col-xs-12 text-center">
				<div class="article__author">
					<img alt="Image" src="{{ avatar:0 }}">
					<h6 class="type--uppercase">{{ author }}</h6>
				</div>
			</div> -->
		</div>
		
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
						<div class="article__body">
							{{ content }}
						</div>
					</div>	
				</div>
			</div>
		</div>
	</article>
</section>
<section class="bg--dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
				<h2>
					Objectives
				</h2>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="14" data-size="130" data-bar-width="6" data-color="#5943aa">
                            <span class="h4 radial__label">Objective 1</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Identify ethical and societal issues of privacy-preserving big data technologies</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="28" data-size="130" data-bar-width="6" data-color="#5BC0BE">
                            <span class="h4 radial__label">Objective 2</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Validate privacy-preserving big data technologies</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="42" data-size="130" data-bar-width="6" data-color="#008597">
                            <span class="h4 radial__label">Objective 3</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Build a community of big data stakeholders</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="56" data-size="130" data-bar-width="6" data-color="#2ead6d">
                            <span class="h4 radial__label">Objective 4</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Enhance discussion, learning and networking in the community</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="70" data-size="130" data-bar-width="6" data-color="#fc0">
                            <span class="h4 radial__label">Objective 5</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Develop recommendations to facilitate Responsible Research and Innovation around big data technologies</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="84" data-size="130" data-bar-width="6" data-color="#ff7c35">
                            <span class="h4 radial__label">Objective 6</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Report on ethical and societal issues related to big data</h5>							
						</div>
					</div>
				</div>
				<div class="clearfix" style="height: 2em"></div>
				<div class="row">
					<div class="col-sm-4">
						<div class="radial objectivel" data-value="100" data-size="130" data-bar-width="6" data-color="#e31d65">
                            <span class="h4 radial__label">Objective 7</span>
                        </div>
					</div>
					<div class="col-sm-7">
						<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow descriptionr">
							<h5>Present he final recommendations in a community position paper</h5>							
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
<section class="text-center bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-md-offset-2">
                <div class="row">
                	<div class="col-sm-12">
                		<h2>
							Phases
						</h2>
                	</div>
                    <div class="col-sm-6">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front phase">
									<div class="wrapper">
										<span class="h3 type--uppercase">Phase 1</span>
										<span class="h2 h2--large"><i class="icon icon-Speaker" style="color: #5BC0BE"></i></span>
										<h4>Create Awareness  </h4>
									</div>
								</div>
								<div class="back phase text-left">
									<strong>Duration:</strong> M1-M12<br>
									<strong>Main Goals:</strong>
									<ul>
										<li>Raising awareness about the project</li>
										<li>Building a stakeholders’ community</li>
									</ul>
									<strong>Activities and tools</strong>
									<ul>
										<li>Webinars</li>
										<li>Organization of events and participation in external events</li>
										<li>Production of white papers</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front phase">
									<div class="wrapper">
										<span class="h3 type--uppercase">Phase 2</span>
										<span class="h2 h2--large"><i class="icon icon-Target-Market" style="color: #5943aa"></i></span>
										<h4>Increase the potential Impact </h4>
									</div>
								</div>
								<div class="back phase text-left">
									<strong>Duration:</strong> M12-M24<br>
									<strong>Main Goals:</strong>
									<ul>
										<li>Increase community involvement</li>
										<li>Disseminate the results</li>
										<li>Development of preliminary recommendations</li>
									</ul>
									<strong>Activities and tools</strong>
									<ul>
										<li>Webinars</li>
										<li>Organization of events and participation in external events</li>
										<li>Production of white papers</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front phase">
									<div class="wrapper">
										<span class="h3 type--uppercase">Phase 3</span>
										<span class="h2 h2--large"><i class="icon icon-Check" style="color: #ff7c35"></i></span>
										<h4>Results</h4>
									</div>
								</div>
								<div class="back phase text-left">
									<strong>Duration:</strong> M25-M34<br>
									<strong>Main Goals:</strong>
									<ul>
										<li>Building consensus and validate the project results and recommendations</li>
										<li>Raising participation of community in events and on the platform</li>
									</ul>
									<strong>Activities and tools</strong>
									<ul>
										<li>Organization of events and participation in external events</li>
										<li>Publish materials on the online platform</li>
										<li>Publications on targeted online media</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front phase">
									<div class="wrapper">
										<span class="h3 type--uppercase">Phase 4</span>
									<span class="h2 h2--large"><i class="icon icon-Euro" style="color: #e31d65"></i></span>
									<h4>Valorization </h4>
									</div>
								</div>
								<div class="back phase text-left">
									<strong>Duration:</strong> M34-M36+>36<br>
									<strong>Main Goals:</strong>
									<ul>
										<li>Disseminating the final recommendations</li>
										<li>Demonstrating the relevance of privacy-preserving big data technologies</li>
									</ul>
									<strong>Activities and tools</strong>
									<ul>
										<li>Demonstrations for specific audiences: presentation of final results</li>
										<li>Publishing the white papers and community paper in national/international journals and online media</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg--dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
        		<h2>
					Timeline
				</h2>
        	</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="process-1">
					<div class="process__item">
						<h4>
							Project Start<br/>
							1st January 2017
						</h4>
					</div>
					<div class="process__item active_phase boxed boxed--border  bg--secondary boxed--lg box-shadow">
						<h4>
							Phase 1<br/>
							January 2017 - December 2017
						</h4>
						<div class="tabs-container" data-content-align="left">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab__title text-center">
                                        <i class="material-icons">videocam</i><br/>
                                        Webinars
                                    </div>
                                    <div class="tab__content">
									{{ collection:media as="media_items" taxonomy:media="webinars" taxonomy:phase="phase-1" }}
										{{ if media_items}}
										<ul>
										{{ media_items }}
											<li>
                                        		<i class="material-icons">play_circle_outline</i>
                                        		<span>{{ title }}</span>
                                        		<a class="btn btn--sm pull-right" href="{{ url }}" style="">View</a>                           
											</li>
										{{ /media_items }}
										</ul>
										{{ else }}
										<p>
                                    		No webinars listed, please check back regularly for content.
                                    	</p>
										{{ /if }}
									{{ /collection:media }}
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title text-center">
                                        <i class="material-icons">folder</i><br/>
                                        Reports
                                    </div>
                                    <div class="tab__content">
                                    {{ collection:media as="media_items" taxonomy:media="public-reports" taxonomy:phase="phase-1" }}
										{{ if media_items}}
										<ul>
										{{ media_items }}
											<li>
                                        		<i class="material-icons">insert_drive_file</i>
                                        		<span>{{ title }}</span>
                                        		<a class="btn btn--sm pull-right" href="{{ url }}" style="">View</a>                           
											</li>
										{{ /media_items }}
										</ul>
										{{ else }}
										<p>
                                    		No Public Reports listed, please check back regularly for content.
                                    	</p>
										{{ /if }}
									{{ /collection:media }}
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title text-center">
                                        <i class="material-icons">event_available</i><br/>
                                        Events
                                    </div>
                                    <div class="tab__content">
                                    {{ collection:news_events as="event_items" }}
										{{ event_items }}
											{{ if news_event }}
		                                    	<ul>
		                                    	{{ news_event }}
		                                    	{{ if type == "event" }}
													<li>
		                                        		<i class="material-icons">{{ type }}</i>
		                                        		<span>{{ title }}</span>
		                                        		<a class="btn btn--sm pull-right" href="{{ if external_link }} {{ external_link }} {{ else }} {{ url }} {{ /if }}" style="">View</a>         
													</li>
												{{ /if }}
												{{ /news_event }}
												</ul>
											{{ /if }}
										{{ /event_items }}
									{{ /collection:news_events }}
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
					<div class="process__item">
						<h4>Phase 2<br>
						January 2018 - December 2018</h4>
					</div>
					<div class="process__item">
						<h4>Phase 3<br>
						January 2019 - October 2019</h4>
					</div>
					<div class="process__item">
						<h4>Phase 4<br>
						October 2019 - December 2019</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg--dark share">
	<article>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
						<div class="article__share text-center">
							<a class="btn bg--facebook btn--icon" href="#">
								<span class="btn__text">
									<i class="socicon socicon-facebook"></i>
									Share on Facebook
								</span>
							</a>
							<a class="btn bg--twitter btn--icon" href="#">
								<span class="btn__text">
									<i class="socicon socicon-twitter"></i>
									Share on Twitter
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
{{ section:extra_scripts }}
<script src="{{ theme:js src="easypiechart.min.js" }}"></script>
{{ /section:extra_scripts }}
{{ section:page_scripts }}
<script>
$(function() {
	window.sr = ScrollReveal({
		viewOffset: { top: 0, right: 0, bottom: 200, left: 0 },
		viewFactor: 1
	});
	sr.reveal('.objectivel',{
		origin: 'left',
		distance: '200px',
		duration: 1000,
		afterReveal: function (domEl) {
			$(domEl).addClass('done');
		}
	});
	sr.reveal('.descriptionr',{
		origin: 'left',
		delay: 500,
		duration: 1000
	});
	sr.reveal('.objectiver',{
		origin: 'left',
		distance: '200px',
		duration: 1000,
	});
	sr.reveal('.descriptionl',{
		origin: 'right',
		delay: 500,
		duration: 1000,
	});

	sr.reveal('.flip-container',{

	},500);

});
</script>
{{ /section:page_scripts }}
