<section class="unpad bg--dark">
	<article>
		<div class="imagebg text-center height-60" data-overlay="5">
			<div class="background-image-holder">
			{{ assets:hero_image }}
				<img alt="background" src="{{ url }}" />
			{{ /assets:hero_image }}
			</div>
			<div class="container pos-vertical-center">
				<div class="row">
					<div class="col-sm-12">
						<div class="article__title">
							<h1>{{ title }}</h1>
							<span> {{ sub-title }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="pos-absolute pos-bottom col-xs-12 text-center">
				<div class="article__author">
					<img alt="Image" src="{{ avatar:0 }}">
					<h6 class="type--uppercase">{{ author }}</h6>
				</div>
			</div>
		</div>
		
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
						<div class="article__body">
							{{ content }}
						</div>
						<div class="article__share text-center">
							<a class="btn bg--facebook btn--icon" href="#">
								<span class="btn__text">
									<i class="socicon socicon-facebook"></i>
									Share on Facebook
								</span>
							</a>
							<a class="btn bg--twitter btn--icon" href="#">
								<span class="btn__text">
									<i class="socicon socicon-twitter"></i>
									Share on Twitter
								</span>
							</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</article>
</section>
<section class="bg--dark">
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<div class="process-1">
					<div class="process__item">
						<h4>Project established 2012<br> 4 founding members</h4>
						<p>
							Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product.
						</p>
					</div>
					<div class="process__item">
						<h4>Succsessfully funded through<br> Acme Investments</h4>
						<p>
							Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product
						</p>
					</div>
					<div class="process__item">
						<h4>Posted profit<br> second quarter 2015</h4>
						<p>
							Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
