
{{ collection:media as="items" paginate="true" limit="9" }}
<section class="bg--dark space--xxs">
	<div class="container">
		<div class="col-md-12">
			<h1>Media</h1>
		</div>
	</div>
</section>
<section class="bg--dark space--xxs space-bottom--lg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        		<div class="masonry masonry--tiles">
                    <div class="masonry-filter-container">
                        <span>Types:</span>
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Types"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="masonry__container">
                        	{{ items }}
								<div class="masonry__item col-xs-12 col-sm-6" data-masonry-filter="{{ if phase }}{{ phase }}{{ title }}{{ /phase }}{{ /if }}, {{ media }}">
									{{ if phase }}
										{{ phase }}
											<span class="label">{{ title }}</span>
										{{ /phase }}
									{{ /if }}								
									<div class="feature feature-5 boxed boxed--lg boxed--border">
					                    <i class="icon {{ icon_type }} icon--lg color--primary-1"></i>
					                    <div class="feature__body">
					                        <h5>{{ title }}</h5>
					                        {{ if title != "Glossary" }}
												<p>{{ content strip_tags="img|a|p" safe_truncate="120" ensure_right="..." }}</p>
											{{ else }}
												<p>Glossary of terms used throughout the project</p>
											{{ /if }}
					                        <a href="{{ url }}" class="btn">View</a>
					                    </div>
					                </div>
								</div>
							{{ /items }}
                        </div>
                        <!--end masonry container-->
                    </div>
                    <!--end of row-->
                </div>
        	</div>
		</div>
	</div>
</section>
{{ partial:pagination }}
{{ /collection:media }}
{{ section:page_scripts }}
    <!-- <script src="articles.js"></script>
    <script id="dsq-count-scr" src="//e-sides.disqus.com/count.js" async></script> -->
    <script type="text/javascript">
    	
    </script>
{{ /section:page_scripts }}
