<section class="bg--dark space--xxs">
	<div class="container">
		<div class="col-md-12">
			<h1>News</h1>
		</div>
	</div>
</section>
<section class="bg--dark space--xxs">
	<div class="container">
		<div class="row mb--1">
		{{ collection:news_events event:isnt="true" paginate="false" sort="date:desc" }}
			<div class="col-sm-4">
				<div class="card card-2">
                    <div class="card__top">
                        <span class="label">News</span>
                        {{ if image }}
						<a href="{{ url }}" class="block">
							{{ assets:image }}
								<img src="{{ glide:url width='750' fit='stretch' }}" />
							{{ /assets:image }}
						</a>
						{{ /if }}
                    </div>
                    <div class="card__body">
                    	<span>
							{{ if (date | days_ago) < 21 }}
								{{ date | relative }}
							{{ elseif (date | format:Y) == now | format:Y }}
								{{ date format="M j" }}
							{{ else }}
								{{ date format="M j, Y" }}
							{{ /if }}
						</span>
						<a href="{{ url }}">
	                        <h4 class="ne" title="{{ title }}">{{ title safe_truncate="80" }}</h4>
	                        {{ if subtitle }}
							<span class="type--fade">{{Understanding the fundamentals}}</span>
							{{ /if }}
	                        <p>
	                            {{ content strip_tags="img|a|p|br|h1|h2|h3|h4|h5" safe_truncate="120" ensure_right="&hellip;" }}
	                        </p>
	                    </a>
                    </div>
                    <div class="card__bottom text-right">
                        <div class="card__action" style="float: right;">
                            <a href="{{ url }}">Read More</a>
                        </div>
                    </div>
                </div>
			</div>

			{{ if index %3 == 0 }}
		</div>
		<div class="row mb--1">
			{{ /if }}
		{{ /collection:news_events }}
		</div>
	</div>
</section>
<section class="bg--dark space--xxs">
	<div class="container">
		<div class="col-md-12">
			<h1>Events</h1>
		</div>
	</div>
</section>
<section class="bg--dark space--xxs">
	<div class="container">
		<div class="row mb--1">
			{{ collection:news_events event:is="true" paginate="false" sort="date:desc" }}
			<div class="col-sm-4">
				<div class="card card-2">
                    <div class="card__top">
                        <span class="label">Event</span>
                        {{ if image }}
						<a href="{{ url }}" class="block">
							{{ assets:image }}
								<img src="{{ glide:url width='750' fit='stretch' }}" />
							{{ /assets:image }}
						</a>
						{{ /if }}
                    </div>
                    <div class="card__body">
                    	<a href="{{ url }}">
                    		<h4 class="ne" title="{{ title }}">{{ news_event }}<i class="material-icons">{{type}}</i> {{ /news_event }} {{ title safe_truncate="80" }}</h4>
	                        {{ if subtitle }}
							<span class="type--fade">{{Understanding the fundamentals}}</span>
							{{ /if }}
	                        <p>
	                            {{ content strip_tags="img|a|p|br|h1|h2|h3|h4|h5" safe_truncate="120" ensure_right="&hellip;" }}
	                        </p>
                    	</a>
                        <div class="card__action text-right" style=" padding-top: 0.2em">
                            <a href="{{ url }}">Read More</a>
                        </div>
                    </div>
                    {{ news_event }}
                    <div class="card__bottom text-center">
                        <div class="card__action">
                            <a href="{{ url }}">
                                <i class="material-icons">date_range</i>
                            </a>
                            <span class="h6 type--uppercase">{{ date_and_time format="M j, Y" }}</span>
                        </div>
                        <div class="card__action">
                            <a href="{{ url }}">
                                <i class="material-icons">access_time</i>
                            </a>
                            <span class="h6 type--uppercase">{{ date_and_time format="H:i" }}</span>
                        </div>
                        <div class="card__action">
                            <a href="{{ url }}">
                                <i class="material-icons">place</i>
                            </a>
                            <span class="h6 type--uppercase">{{ address.city }}</span>
                        </div>
                    </div>
                    {{ /news_event }}
                </div>
			</div>
			{{ if index %3 == 0 }}
		</div>
		<div class="row mb--1">
			{{ /if }}
		{{ /collection:news_events }}
		</div>
	</div>
</section>
{{ section:page_scripts }}
    
{{ /section:page_scripts }}
