<section class="height-100 imagebg text-center" data-overlay="4">
    <div class="background-image-holder"><img alt="background" src="{{theme:asset src="img/agency-1.jpg"}}"></div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-7 col-md-5">
                <h2>Forgot Password?</h2>

                {{ user:forgot_password_form reset_url="/reset-password" }}
                    {{ if email_sent }}

                        <p class="alert alert-success">Email sent!</p>

                    {{ else }}
                    <p>Enter your username and we'll email you a link to reset your password.</p>
                        {{ if errors }}
                            <p class="bg-danger text-danger">
                            {{ errors }}
                                {{ value }}<br>
                            {{ /errors }}
                            </p>
                        {{ /if }}
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="email" value="{{ old:email }}" />
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn--primary type--uppercase" type="submit">Send me an email</button>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn--default type--uppercase" href="/login">Nevermind</a>
                        </div>
                    </div>
                    {{ /if }}
                {{ /user:forgot_password_form }}
            </div>
        </div>
    </div>
</section>
