<footer class="text-center-xs space--xs bg--dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<ul class="list-inline">
					{{ nav from="/" include_home="true" scope="tag" }}
					<li>
						<a href="{{ url }}"><span class="h6 type--uppercase">{{ tag:nav_title or title }}</span></a>
					</li>
					{{ /nav }}
				</ul>
			</div>
			<div class="col-sm-5 text-right text-center-xs">
				<ul class="social-list list-inline list--hover">
					<img src="{{ theme:asset src="img/eu-idc.png" }}" alt="" width="200">
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<span class="type--fine-print">© <span class="update-year">2017 IDC Italy</span>.</span>
				<a class="type--fine-print" href="#">Privacy Policy</a>
				<a class="type--fine-print" href="#">Legal</a>
				<a class="type--fine-print" href="#">info@e-sides.eu </a>
			</div>
		</div>
	</div>
</footer>