<footer class="text-center-xs space--xs bg--dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<ul class="list-inline">
					<li>
						<a href="#"><span class="h6 type--uppercase">Project</span></a>
					</li>
					<li>
						<a href="#"><span class="h6 type--uppercase">Articles </span></a>
					</li>
					<li>
						<a href="#"><span class="h6 type--uppercase">News </span></a>
					</li>
					<li class="vpf">
						<a href="#"><span class="h6 type--uppercase">FORUM</span></a>
					</li>
				</ul>
			</div>
			<div class="col-sm-5 text-right text-center-xs">
				<ul class="social-list list-inline list--hover">



					<li><a href="#"><i class="socicon icon icon-Lock-User"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7">
				<span class="type--fine-print">© <span class="update-year">2017 IDC Italy</span>.</span>
				<a class="type--fine-print" href="#">Privacy Policy</a>
				<a class="type--fine-print" href="#">Legal</a>
			</div>
			<div class="col-sm-5 text-right text-center-xs">
				<a class="type--fine-print" href="#">info@e-sides.eu </a>
			</div>
		</div>
	</div>
</footer>