<footer class="text-center-xs space--xs bg--dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-inline">
					{{ nav from="/" include_home="true" scope="tag" }}
					<li>
						<a href="{{ url }}"><span class="h6 type--uppercase">{{ tag:nav_title or title }}</span></a>
					</li>
					{{ /nav }}
				</ul>
			</div>
			<div class="col-sm-6 text-right text-center-xs">
				<ul class="social-list list-inline list--hover">
					<li><img src="{{ theme:asset src="img/footer-logos.png?id=3" }}" alt=""></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<span class="type--fine-print">© <span class="update-year">2017 IDC Italy</span>.</span>
				<a class="type--fine-print" href="/privacy-policy">Privacy Policy</a>
				<a class="type--fine-print" href="mailto:info@e-sides.eu">info@e-sides.eu </a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="type--fine-print">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 731873. The views expressed on this website are the sole responsibility of the authors and do not necessarily reflect the views of the European Commission. Copyright belongs to the authors of this website. Use of any materials from this website should be referenced and is at the user's own risk.</div>
			</div>
		</div>
	</div>
</footer>